@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
}

/* icons */
.devicon-javascript-plain, .devicon-express-original, .devicon-nodejs-plain, .devicon-python-plain, .devicon-django-plain, .devicon-flask-original-wordmark, .devicon-react-original, .devicon-git-plain {
  font-size: 3em;
  margin-left: 4%;
  display: inline-block;
}

.about {
  padding-top: 5%;
}

.projects {
  background: rgb(246,38,46);
  background: linear-gradient(90deg, rgba(246,38,46,1) 13%, rgba(251,120,64,1) 90%);
}

.project-img {
  box-shadow: 5px 5px 5px #878787;
  max-width: max-content;
}

.card-link {
  text-align: center;
  text-decoration: none;
  color: red;
}

.header {
  padding: 50px;
  text-align: center;
  color: black;
  font-family: 'Roboto Mono', monospace;
  background: rgb(246,38,46);
  background: linear-gradient(90deg, rgba(246,38,46,1) 13%, rgba(251,120,64,1) 90%);
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background: rgb(246,38,46);
  background: linear-gradient(90deg, rgba(246,38,46,1) 13%, rgba(251,120,64,1) 90%); 
  z-index: 1;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 5px 10px;
}

.navbar a.right {
  float: right;
}

.navbar button {
  border: none;
  padding: 10px;
  width: 80px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5%;
  font-size: 1rem;
}

.navbar button:hover {
  background-color: #ffffff;
  color: black;
}

.row {
  display: -ms-flexbox;
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }

  100% {
    transform: translateY(0px);
  }
}

.project-button {
  border: none;
  padding: 2%;
  margin: 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #000000;
}

.project-button:hover {
  background-color: #878787;
}

@media screen and (max-width: 600px) {
  .project-screenshot {
    display: none;
  }
}